<div class="videoWrapper">
    <div class="videoOverlay"></div>
    <video autoplay muted loop class="bgVideo" video-speed="0.7">
        <source src="https://ak6.picdn.net/shutterstock/videos/17669056/preview/stock-footage-beautiful-crete-landscape-with-amazing-beaches-aerial-view.webm"
                type="video/webm">
    </video>
</div>